div {
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    border-radius: 20px;
    margin-top: 170px;
    margin-left: 50px;
    transition: 7.7s;
    transition-timing-function: ease-in-out;
}

div:hover {
    transform: rotate(360deg) scale(1.2) translate(350px);
}

h3 {
    color: white;
    font-family: cursive;
    text-align: center;
}
